<footer class="footer sticky-bottom">
  <div class="container-fluid text-center justify-content-center">
    <div class="d-flex flex-row mt-3 justify-content-center">
      <a href="https://www.linkedin.com/in/rafael-martins-2ab19a216" target="_blank"><i class="fab fa-linkedin fa-lg"></i></a>
      <a href="https://www.facebook.com/RMsince93" target="_blank"><i class="fab fa-facebook fa-lg"></i></a>
      <a href="https://www.instagram.com/RMsince93" target="_blank"><i class="fab fa-instagram fa-lg"></i></a>
      <a href="https://github.com/RMsince93" target="_blank"><i class="fab fa-github fa-lg"></i></a>
    </div>
        <span class="footer-text"> &copy; <%= Time.current.year %> Rafael Martins. All Rights Reserved</span>
  </div>
</footer>