
footer.footer.sticky-bottom(style="background-color: #222529; margin-top: auto")
  div.container-fluid.text-center.justify-content-center
    .mt-3.justify-content-center
      a(href="https://www.linkedin.com/in/rafael-martins-2ab19a216" target="_blank")
        i.fab.fa-linkedin.fa-lg
      a(href="https://www.facebook.com/RMsince93" target="_blank")
        i.fab.fa-facebook.fa-lg
      a(href="https://www.instagram.com/RMsince93" target="_blank")
        i.fab.fa-instagram.fa-lg
      a(href="https://github.com/RMsince93" target="_blank")
        i.fab.fa-github.fa-lg
    span &copy;= Time.current.year Rafael Martins. All Rights Reserved

