<nav class="sticky-top navbar navbar-expand-md navbar-dark bg-dark text-center">
  <div class="container-fluid">
      <button class="navbar-toggler mx-auto" 
              type="button" 
              data-toggle="collapse" 
              data-target="#navbarMenu" 
              aria-controls="navbarMenu" 
              aria-expanded="false" 
              aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse mx-auto justify-content-center" id="navbarMenu">
        <ul class="navbar-nav mb-2 mb-lg-0">
          <li class="nav-item nav-link">
            <%= link_to "Movies", root_path, class: "nav-link" %>
          </li>
          <li class="nav-item nav-link">
            <%= link_to "TV Shows", tv_shows_path, class: "nav-link" %>
          </li>
          <li class="nav-item nav-link">
            <%= link_to "Log In", fae_path, class: "nav-link", target: "_blank" %>
          </li>
        </ul>
      </div>
    </div>
  </nav>