<div class="card mt-4">
    <%= link_to movie_path(movie) class: "movie-link" do %>
      <div class="card-img-wrapper">
        <%= image_tag image_path(movie.hero_image.asset.url), class: "card-img-top", alt: movie.title %>
        <div class="movie-rating"><%= movie.imdb_rating %></div>
      </div>
    <% end %>
    <div class="card-footer">
      <h5 class="card-title movie-title"><%= truncate(movie.title, length: 30) %></h5>
    </div>
  </div>