<div class="card mt-4">
  <%= link_to tv_show_path(tv_show) do %>
    <div class="card-img-wrapper">
      <%= image_tag image_path(tv_show.hero_image.asset.url), class: "card-img-top", alt: tv_show.title %>
      <div class="movie-rating"><%= tv_show.imdb_rating %></div>
    </div>
  <% end %>
  <div class="card-footer">
    <h5 class="card-title movie-title"><%= truncate(tv_show.title, length: 30) %></h5>
  </div>
</div>